@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Signika:wght@300;400;500;700&display=swap');

body {
    background: #111111;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: #f5f5f5;
}

a {text-decoration: none;
    color: #111111;}

input.orange-button[type='submit'] {
    font-family: Rubik;
    color: #f5f5f5;
    background-color: #ff7900;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    width: 80em;
    margin: 10px auto 2em auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

header #menu img {
    width: 20px; 
    height: 20px;
    margin-right: 8px;
}

.logo {
    height: 4em;
}

header #menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header #menu a {
    padding: 1em;
    text-align: center;
    font-weight: 500;
}

header #user {
    display: flex;
    align-items: center;
    position: relative;
}

header #user > a {
    display: flex;
    align-items: center;
    padding: 1em;
    font-weight: 500;
}

.account {
    height: 2em;
    margin-right: 0.5em;
}

header #user ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    transform: translateX(-50%);
    background-color: #333333;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
    list-style: none;
}

header #user ul li a {
    display: block;
    padding: 0.5em 1em;
    white-space: nowrap;
    color: #f5f5f5;
    font-weight: 700;
}

header #user:hover ul {
    display: block;
}

#wrapper {
    display: flex;
    width: 80em;
    margin: 0 auto 2em auto;
    gap: 1em;
}

aside {
    padding: 1em;
    border-radius: 8px;
    flex: 1;
    color: #f5f5f5;
}

aside img {
    width: 70%;
    display: block;
    margin: 0 auto 1em;
}

main {
    flex: 3;
    overflow-y: auto;
    max-height: 80vh;
    scrollbar-color: transparent transparent;
}

main article {
    background-color: #f0f0f2;
    color: #111111;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}

main article h3 {
    margin: 0 0 0.5em 0;
    font-weight: 500;
    font-size: 1.2em;
}

main article time {
    float: left;
    font-size: 0.9em;
    color: #999;
}

main article address {
    float: right;
    font-size: 0.9em;
    color: #999;
}

main article p {
    margin: 0.5em 0 0 0;
    line-height: 1.5em;
}

main article footer {
    margin-top: 1em;
    text-align: right;
}

main article footer small {
    float: left;
    color: #999;
}

.admin #wrapper {
    flex-direction: row-reverse;
}

.admin aside {
    flex: 1;
    margin-left: 1em;
    padding: 0;
}

.admin main {
    flex: 2;
    background-color: #333;
    padding: 0;
}

.admin h2 {
    text-align: center;
    font-weight: 700;
}

.admin h3 {
    margin: 0;
    font-weight: 500;
}

.admin nav {
    text-align: right;
}

.admin article {
    border: 1px solid #444;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
}

.admin article p {
    float: left;
    margin: 0;
}

.parameters dl dt {
    float: left;
    font-weight: bold;
    line-height: 1.5em;
}

.parameters dl dd {
    margin-left: 15em;
    line-height: 1.5em;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}

.contacts article {
    background-color: #333;
    width: 100%;
    max-width: 25em;
    padding: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts article img {
    height: 5em;
}

pre {
    color: #aaa;
    background-color: #222;
    padding: 1em;
    border-radius: 8px;
}

textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    width: 90%;
    height: 100%;
  }
  
  textarea:focus {
    border-color: #ff7900;
    box-shadow: 0 0 5px #ff7900;
  }
  
  textarea::placeholder {
    color: #111111;
    font-style: italic; 
  }
  

  textarea:focus::placeholder {
    color: transparent;
  }
